.DS_Store
.bundle
.env
.env.*
.powenv
db/*.sqlite3
log/*.log
tmp/*.txt
tmp/cache/*
tmp/pids/*.pid
tmp/sessions/*
tmp/sockets/*
!tmp/pids/.keep
node_modules/*

/config/credentials/development.key


/config/credentials/production.key
