<h2>Admin login</h2>

<div class="box copy">
  <div class="center">
    <%= form_tag('/admin/session') do %>
      <%= image_submit_tag("sign-in-with-twitter.png") %>
    <% end %>    
    
    
    <p><%= session[:screen_name] if signed_in? %></p>
    
    <p><%= flash[:alert] %></p>
    
  </div>
</div>