<% page_title "Administrivia" %>
<% login_box %>

<div class="text-center">
  <p>Sign in with Twitter to manage the site, Yo!</p>
  <%= form_tag('/admin/session') do %>
    <%= image_submit_tag("sign-in-with-twitter.png") %>
  <% end %>    
  
  <p><%= flash[:alert] %></p>  
</div>