<% if @rides.empty? %>
  <p class="center">Looks like there aren't any rides!</p>
<% else %>
  <table border="0" cellspacing="0" cellpadding="5">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th></th>
    </tr>
    <%= render :partial => 'admin/rides/ride', :collection => @rides %>
  </table>
<% end %>
