body{font-family:"Lucida Grande";background:#333; color: #333;margin:0;padding:0;}
a{color:#39F;text-decoration:none;}
li{padding-bottom:4px;}
.box{border:3px solid #BBB; background-color:#FFF; padding:10px;}
.route{padding-left:10px;}
.center{text-align:center;}
.clear{clear:both;}
.container{width:600px;margin:0px auto;}
.text_left{text-align:left;}
.text_right{text-align:right;}
.left{width:45%;padding:5px;float:left;}
.right{width:45%;padding:5px;float:right;}
.map {font-size:12px;}
.big {font-size:20px; line-height:16px; vertical-align:top;}
#content{min-height:400px;background:#9DF;background:-moz-linear-gradient(0% 85% 90deg,#9DF,#DEF);background:-webkit-gradient(linear,0% 0%,0% 85%,from(#DEF),to(#9DF));}
#content h1{font-size:132px;margin:0;padding:0;font-family:"Times";color:#333;}
#content h2{font-size:22px;margin:0;padding:10px 0;color:#036;font-family:"Arial";}
#content .route_link{text-align:right;}
#footer{padding-top:20px;color:#DDD;font-size:14px;background:#555;background:-moz-linear-gradient(100% 85% 90deg,#333,#555);background:-webkit-gradient(linear,0% 0%,0% 85%,from(#555),to(#333));}
#footer h5{color:#FFF;border-bottom:1px solid #FFF;padding-bottom:5px;}
#footer ul{padding:0;}
#footer li{list-style-type:none; padding-bottom:4px;}
#wrapper{width:100%;}
#wrapper.content{border-bottom:1px solid #DEF;}
#wrapper.footer{background:#333;border-top:1px solid #333;}
