<section id="about">
  <h2>About</h2>

  <p>Wednesday Worlds (or the race ride) is a groupride in Blacksburg, VA. It
  takes place weekly from March to September. We leave from <a href="http://www.bolloscafe.com/">Bollo's</a> coffee shop
  each week on wednesday night. We alternate between two different <a href="/#rides">rides</a>.
  They are both take a little under 2 hours to complete.</p>

  <p>If you are interested in coming on the ride, you should have some
  experience riding in a group with others. You should also take a look at
  the <a href="/guidelines">guidelines</a>. We usually split into two groups (A and B) for the fast
  part of the ride. If you are unsure of what group you should be in, you should
  start off in the B group.</p>

  <p>The race ride is great way to build speed and fitness on the bike. It is also
  a good way to get more comfortable riding with a larger group of riders. On
  top of all that it is a lot of fun. </p>

  <h3>Video</h3>

  <div id="video">
    <ul>
      <li>
        <a href="http://vimeo.com/10770518" target="blank">Wednesday Worlds Training Race (part 1)</a>
      </li>
      <li>
        <a href="http://vimeo.com/10783008" target="blank">Wednesday Worlds Training Race (part 2)</a>
      </li>
      <li>
        <a href="http://vimeo.com/39505571" target="blank"> Wednesday Worlds 2012 (Blacksburg, VA)</a>
      </li>
      <li>
        <a href="http://vimeo.com/15201210" target="blank"> Wednesday Worlds 9/15/10 - The Way Out Finale</a>
      </li>
    </ul>
  </div>
</section>
