<section id="get-in-touch">
  <h2>Get in touch</h2>
  <em>If you have ideas or suggestions, we would love to hear from you.</em>
  <ul class="block">
    <li><a href="mailto:hello@wednesdayworlds.org">hello@wednesdayworlds.org</a></li>
    <li><a href="http://groups.google.com/group/wednesdayworlds">Google Group</a></li>
    <li><a href="https://twitter.com/wednesdayworlds">Twitter</a></li>
    <li><a href="https://facebook.com/wednesdayworlds">Facebook</a></li>
  </ul>

  <h3>Contribute</h3>
  <p class="contribute">Contribute to this project on <a href="https://github.com/anolson/wednesday_worlds">GitHub</a></p>
</section>