<section id="guidelines">
  <h2>Guidelines</h2>
  <a name="guidelines"></a>
  <ul class="block">
    <li><span>Obey all traffic laws</span></li>
    <li><span>Don't cross the yellow line</span></li>
    <li><span>Wear your helmet</span></li>
    <li><span>Ride fast and have fun</span></li>
    <li><span>Always ride in a double or single pace line</span></li>
    <li><span>Don't attack on the neutral rollout</span></li>
  </ul>
  <em>If you are feeling in over your head or can't rotate through all the way, slowly drift to the back and just sit on.</em>
</section>
