<header id="this-week">
  <div class="title">
    <h1><span><%= @ride.name %></span></h1>
  </div>

  <div class="time-and-location">
    <h1>
      <span><%= format_time(@ride.routes.this_week.occurrence.begins_at) %> &mdash; <%= @ride.location %></span>
    </h1>
  </div>

  <div class="route">
    <h4><span>The ride this week is  <%= @ride.routes.this_week.name %>.</span></h4>
  </div>
</header>