<h2>About</h2>

<div class="box">
  <p>Wednesday Worlds (or the race ride) is a groupride in Blacksburg, VA. It
  takes place weekly from March to September. We leave from Bollo's coffee shop
  each week on wednesday night. We alternate between two different <%= link_to "rides", rides_path %>.  
  They are both take a little under 2 hours to complete.</p>

  <p>If you are interested in coming on the ride, you should have some
  experience riding in a group with others. You should also take a look at
  the <%= link_to "guidelines", guidelines_path %>. We usually split into two groups (A and B) for the fast
  part of the ride. If you are unsure of what group you should be in, you should
  start off in the B group.</p>

  <p>The race ride is great way to build speed and fitness on the bike. It also
  a good way to get more comfortable riding with a larger group of riders. On
  top of all that it is a lot of fun. </p>
  
  <h3>Video</h3>
  
  <div class="video center">
    <iframe src="http://player.vimeo.com/video/10770518" width="400" height="225" frameborder="0"></iframe><p><a href="http://vimeo.com/10770518">Wednesday Training Race (part 1)</a> from <a href="http://vimeo.com/user1460372">THESWPLACE</a> on <a href="http://vimeo.com">Vimeo</a></p>
    <iframe src="http://player.vimeo.com/video/10783008" width="400" height="225" frameborder="0"></iframe><p><a href="http://vimeo.com/10783008">Wednesday Training Race (part 2)</a> from <a href="http://vimeo.com/user1460372">THESWPLACE</a> on <a href="http://vimeo.com">Vimeo</a></p>
  </div>
  
  
</div>