<h2>Contribute</h2>

<div class="box">
  <p>If you would like to contribute code or designs, you can fork the project on github.</p>
  
  <p class="center">
    <big><%= link_to "git://github.com/anolson/wednesday_worlds.git" %></big>
  </p>
  
  <p>If you have other ideas or suggestions, feel free to <%= mail_to "anolson@gmail.com", "get in touch" %>.</p>
  
</div>