<% page_title "Guidelines" %>

<h3>The basics</h3>
<ul>
  <li>Obey all traffic laws.</li>
  <li>Don't cross the yellow line.</li>
  <li>Wear your helmet.</li>
  <li>Ride fast and have fun.</li>
</ul>

<h3>Also...</h3>
<p>Don't attack on the neutral rollout.</p>

<p>If you are feeling in over your head or can't rotate through all the way,
slowly drift to the back and just sit on.</p>

<p>Always ride in a double or single pace line.</p>