<% if(@ride.nil? || @ride.this_weeks_route.nil?) %>
  <% page_title "There are no current rides planned." %>
  <h1>No ride this week.</h1>
<% else  %>
  <% page_title @ride.name %>
  <h1>
    <%= @ride.location %> 
    <%=format_time(@ride.this_weeks_route.occurrence.begins_at) %>
  </h1>     
  <div class="route_link">
    The ride this week is <%= link_to @ride.this_weeks_route.name, ride_route_path(@ride, @ride.this_weeks_route) %>
  </div>
<% end %>

