<!DOCTYPE html> 
<html>
  <head>  
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />  
  </head>  
  <body>  
    <span><%= @ride.location %></span> <br/>
    <span><%= @ride.this_weeks_route.occurrence.begins_at.strftime("%l:%M%p").downcase %></span>
    <p>
      The ride this week is <%= link_to @ride.this_weeks_route.name, ride_route_url(@ride, @ride.this_weeks_route, :host => 'wednesdayworlds.org') %>
    </p>
    <p>
      <%= url_for "http://wednesdayworlds.org" %>
    </p>
  </body> 
</html> 