<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
  </head>
  <body>
    <span><%= @event.ride.location %></span> <br/>
    <span><%= format_time(@event.begins_at) %></span>
    <p>
      The ride this week is <%= @event.route.name %>
    </p>
    <p>
      <%= url_for "https://wednesdayworlds.org" %>
    </p>
  </body>
</html>
