/*
*= require_self
*/


$black: #333;
$grey: #BBB;
$light_grey: #efefef;
$white: #FFF;

$page_width: 600px;

html, body {
  height: 100%;
  margin:0; padding:0;
}

html {
  background: image-url('ps_neutral.png');
}

body {
  color: $black;
  font-family:Helvetica, sans-serif;
  font-size:16px;
}

a {
  color:#69F;
  text-decoration:none;
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height:35px;
  margin-top: -20px;
  background: $black;
  color: $light_grey;
  font-size:13px;

  .container {
    width:$page_width;
    margin:10px auto;
  }
}

#main {
  min-height: 100%;
  position: relative;
}

.admin {
  .field_with_errors {
    display: inline;

    label {
      color: #C00;
    }
  }

  input {
    font-size:16px;
    padding:5px;
    margin:5px 0 10px 0;
  }

  input[type="submit"] {
    font-size:12px;
  }

  input[type="checkbox"] {
    vertical-align:middle;
  }

  label {
    display:block; font-weight:bold;
  }

  select, textarea {
    margin:5px 0 10px 0;
  }

  table {
    border-collapse:collapse;
    width:100%;
    font-size:12px;
    text-align:left;

    td {
      border:1px solid #CCC;
      border-left:0;
      border-right:0;
    }
  }

  .cancel{
    font-size:12px;
    margin:2px;
    color:#B00;
  }

  .edit{
    font-size:12px;
    padding:17px 15px;
    text-align:right;
  }

  .login {
    padding-top:24px;
  }

  #content {
    padding-bottom: 80px;
    section  {
      padding:0;
      padding-bottom: 40px;
      color:$black;
      .title {
        border-radius:10px 10px 0 0;
        background:$black;
        border-bottom: 5px solid #555;
        h2 {
          margin: 0;
          padding:15px;
          color: $light_grey;
          line-height:18px;
          font-weight: normal;
        }
      }
      .container {
        background: $light_grey;
        padding:10px 15px;
        border-radius:0 0 10px 10px;
      }
    }
  }

  #logout {
    padding:20px 0;
    font-size:12px;
    color:#888;

    a {
      color:#FFF;
      padding:5px;
      background:#888;
      border-radius:3px;
    }

    a:hover {
      background:#AAA;
    }
  }
}

.back_to {
  font-size:12px;
}

.clear {
  clear:both;
}

.left {
  float:left;
}

.right {
  float:right;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align:right;
}

.wrapper {
  margin:0 auto;
  width:$page_width;
}
