/*
*= require_self
*= require_tree .
*/

$black: #333;
$grey: #BBB;
$light_grey: #efefef;
$white: #FFF;

$page_width: 600px;

html, body {
  height: 100%;
  margin:0; padding:0;
}

html {
	background: url(/assets/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
  color: $black;
  font-family:Helvetica, sans-serif;
  font-size:16px;
}

a {
  color:#69F;text-decoration:none;
}

footer {
  bottom: 0;
  position: absolute;
  width:100%;
  height:60px;   /* Height of the footer */
  background:$black;
  border-top:1px solid #555;
  color:$light_grey;
  font-size:12px;
  
  .container {
    width:$page_width;
    margin:14px auto;
        
    ul {
      padding:0;
      margin:0;
      float:right;
      li {
        padding-left:5px;
        list-style-type:none;
        display:inline;
      }
    }
    
    #share {
      margin-top:10px;
    }
  }
}

#main {
  min-height: 100%;
  position: relative;
}

#content {
  padding: 60px 0 120px 0;
  color:$black;
  
  h3 {
    margin: 10px 0;
  }
  
  #title {
    border-radius:10px 10px 0 0;
    background:$black;
    border-bottom: 5px solid #555;
    h2 {
      margin: 0;
      padding:15px;
      color: $light_grey;
      line-height:18px;
      font-weight: normal;
    }  
  }
  .container {
    background: $light_grey;
    padding:10px 15px;
    border-radius:0 0 10px 10px;
    h1 {     
      font-family:"Times";
      font-size:132px;
      margin:0;
      padding-bottom:10px;
    }
    
    #video {
      ul {
        padding-left:10px;
        list-style-type:none;
        li {
          margin:5px;
        }
      }
    }
    
    .route {
      font-size:14px; 
      margin-bottom:20px; 
      
      #dateline {
        text-align: center; 
        overflow:auto; 
        position:relative; 
        border:1px solid #BBB; 
        padding:25px 0 10px 0;
      }
      
      .all_dates {
        font-size:12px;
        
        table {
          border: 1px solid #BBB;
          border-collapse:collapse;
        }
      }
  
      .description {
        margin-bottom:10px;
      }
      
      .details {
        border-top:1px dotted #BBB; 
        margin-top:5px; padding-top:10px; 
      }
      
      .location, .date {
        margin-top:5px;
      }
      
      .title {
        font-size:15px; 
        margin-bottom:2px;
      }  
    }
  }
}

.back_to {
  font-size:12px;
}

.clear {
  clear:both;
}

.left {
  float:left;
}

.light {
  color:#AAA;
}

.lighter {
  color:#CCC;
}

.map {
  font-size:12px;
}

.new{
  font-size:12px; margin:15px 10px;
}

.right {
  float:right;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align:right;
}

.wrapper {
  margin:0 auto;
  width:$page_width;
}
