<div id="share" class="clear">
  <ul>
    <li>
      <%= link_to image_tag("twitter.png", :size => "16x16"), "https://twitter.com/wednesdayworlds" %>
    </li>
    <li>
      <%= link_to image_tag("facebook.png", :size => "16x16"), "https://facebook.com/wednesdayworlds" %>
    </li>
  </ul>  
</div>