<div id="share">
  <div id="facebook_like">
    <div id="fb-root">
      <script src="http://connect.facebook.net/en_US/all.js#appId=179592628775062&amp;xfbml=1"></script>
    </div>
    <fb:like href="http://facebook.com/wednesdayworlds" send="false" layout="button_count" show_faces="false" colorscheme="dark" font=""></fb:like>
  </div>

  <div id="twitter_follow">
    <a href="https://twitter.com/wednesdayworlds" class="twitter-follow-button" data-width="180px" data-button="grey" data-link-color="3399FF">Follow @wednesdayworlds</a>
  </div>            
</div>