    <div class="ride">
      <h3><%= header %></h3>
      <% ride.routes.each do |route| %>
        <%= render :partial => "routes/route", :locals => {:route => route, :display_all_dates => false} %>
      <% end %>
    </div>