<!DOCTYPE html>
<html>
<head>
  <title>WednesdayWorlds</title>
  <%= stylesheet_link_tag "style" %>
  <%= csrf_meta_tag %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18142145-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

  <div id="wrapper" class="content">
    <div id="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render :partial => 'pages/footer' %>

</body>
</html>
